
.mainbox{ text-align: center    ;
    margin-top: 100px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    


}
.task-enter-button{
    background-color: aqua;
    border: solid rgb(148, 145, 145);
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 5px;
    color: rgb(90, 92, 93);

}
.task-delete-button{
    background-color: crimson;
    border: solid rgb(136, 132, 132);
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 5px;
    color: rgb(90, 92, 93);
    
    
}
.task-up-button{
    background-color: chartreuse;
    border: solid rgb(136, 132, 132);
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 5px;
    color: rgb(90, 92, 93);

}
.task-down-button{
    background-color: chartreuse;
    border: solid rgb(136, 132, 132);
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 5px;
    color: rgb(90, 92, 93);

    
}
input{
    font-size: large;
    border: solid rgb(136, 132, 132);
    border-radius: 5px;

}
ol{
    padding: 0;
}
li{
    padding: 15px;
    background-color: rgb(138, 135, 135);
    margin-bottom: 10px;
    border: 3px solid rgb(124, 121, 121);
    border-radius: 5px;
    
   
}
.text{
    flex: 1;
    

}
body{
    background-color: rgb(26, 23, 23);
}
h1{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}